  .div {
  margin: auto;
  width: 27%;
  padding: 10px;
  }
  .tg {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  .tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  .tg .tg-bobw {
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
  }
  .tg .tg-sltr {
    background-color: #4472c4;
    color: #fff;
    font-weight: bold;
    text-align: left;
    vertical-align: bottom;
  }
  .tg .tg-4vkt {
    background-color: #d9e1f2;
    text-align: center;
    vertical-align: bottom;
  }
  .tg .tg-7zrl {
    text-align: left;
    vertical-align: bottom;
  }
  .tg .tg-y4z7 {
    background-color: #4472c4;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: bottom;
  }
  .tg .tg-4qup {
    background-color: #d9e1f2;
    text-align: left;
    vertical-align: bottom;
  }
  .tg .tg-8d8j {
    text-align: center;
    vertical-align: bottom;
  }